
.banner { 
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
}

.banner__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.banner__text-wrapper {
    display: flex;
    flex-direction: column;
  
    max-width: 1200px;
}

.banner__text-heading {
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0 rgb(58, 56, 56);
}
.banner__text-on-image {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.banner__content__position-top-left {
    align-items: flex-start;
    justify-content: flex-start;
}

.banner__content__position-top-center {
    align-items: center;
    justify-content: flex-start;
}

.banner__content__position-top-right {
    align-items: flex-end;
    justify-content: flex-start;
}

.banner__content__position-middle-left {
    align-items: flex-start;
    justify-content: center;
}

.banner__content__position-middle-center {
    align-items: center;
    justify-content: center;
}

.banner__content__position-middle-right {
    align-items: flex-end;
    justify-content: center;
}

.banner__content__position-bottom-left {
    align-items: flex-start;
    justify-content: flex-end;
}

.banner__content__position-bottom-center {
    align-items: center;
    justify-content: flex-end;
}

.banner__content__position-bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
}