
.banner { 
    position: relative;
    overflow: hidden;
    display: flex;
}

.banner__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.banner__image__half {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    z-index: -1;
}

@media screen and (max-width: 650px) {
    .banner__image__half {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
        z-index: -1;
    }
}

.banner__text-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.banner__text-heading {
    font-weight: bold;
    
}
.banner__text__heading-smaller {
    font-size: 40px;
}
.banner__text__heading-middle {
    font-size: 60px;
}
.banner__text__heading-bigger {
    font-size: 80px;
}

@media screen and (max-width: 650px) {
    .banner__text__heading-smaller {
        font-size: 18px;
    }
    .banner__text__heading-middle {
        font-size: 36px;
    }
    .banner__text__heading-bigger {
        font-size: 72px;
    }
}

.banner__text__on__image {
    margin: 0;
    width: 50%;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.banner__text-smaller {
    font-size: 20px;
}
.banner__text-middle {
    font-size: 30px;
}
.banner__text-bigger {
    font-size: 40px;
}

@media screen and (max-width: 650px) {
    .banner__text-smaller {
        font-size: 14px;
    }
    .banner__text-middle {
        font-size: 18px;
    }
    .banner__text-bigger {
        font-size: 20px;
    }
}
.banner__text__position-top-left {
    align-items: flex-start;
    justify-content: flex-start;
}

.banner__text__position-top-center {
    align-items: center;
    justify-content: flex-start;
}

.banner__text__position-top-right {
    align-items: flex-end;
    justify-content: flex-start;
}

.banner__text__position-middle-left {
    align-items: flex-start;
    justify-content: center;
}

.banner__text__position-middle-center {
    align-items: center;
    justify-content: center;
}

.banner__text__position-middle-right {
    align-items: flex-end;
    justify-content: center;
}

.banner__text__position-bottom-left {
    align-items: flex-start;
    justify-content: flex-end;
}

.banner__text__position-bottom-center {
    align-items: center;
    justify-content: flex-end;
}

.banner__text__position-bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
}

.banner__text__color-black {
    color: black;
    text-shadow: 1px 1px 0 rgb(255, 255, 255);
}

.banner__text__color-white {
    color: white;
    text-shadow: 1px 1px 0 rgb(68, 65, 65);
}

.banner__text__color-red {
    color: red;
    text-shadow: 1px 1px 0 rgb(36, 35, 35);
}

.banner__text__color-yellow {
    color: yellow;
    text-shadow: 1px 1px 0 rgb(36, 35, 35);
}

.banner__text__color-green {
    color: green;
    text-shadow: 1px 1px 0 rgb(36, 35, 35);
}

.banner__text__color-blue {
    color: blue;
    text-shadow: 1px 1px 0 rgb(36, 35, 35);
}

.banner__text__color-purple {
    color: purple;
    text-shadow: 1px 1px 0 rgb(36, 35, 35);
}

.banner__text__background-white{
    background-color: rgba(255, 255, 255, 0.5);
}

.banner__text__background-black{
    background-color: rgba(0, 0, 0, 0.5);
}
.banner__text__background-blue{
    background-color: rgb(0, 0, 255, 0.5);
}

.banner__text__background-transparent{
    background-color: transparent;
}